body {
	background-image: url("../images/broken_noise.png");
  	text-align: center;
  	color: silver;
}
#hangmanpic {
	position: relative;
	top:	15px;
	right: 50px;
	/*background-color: #000;*/
}
#newgamearea {
	position: relative;
	bottom: 100px;
	float:left;
  	margin-top: 2em;
}
#maskedWord {
	/*background-color: #ddd;*/
	padding: 1em;
	font-size: 2em;
}
#instructions {
	/*float:left;
	background-color: #ccc;*/
	font-size: 15px;
}
#hideLetters {
	padding: 0px;
} 	
#wins {
	padding: 0px;
	
}
#lettersguessed {
	padding: 0px;

	
}
#wrapper {
  	border: solid 1px silver;

}
#newgame {
	padding: 10px;
}
dt {
	width:100%;
	font-size: 15px; 
	text-align: left;
}
dt:after {
	content:':';
}
dd { 
	font-size: 15px;
}
@media (min-width: 769px) {
	dt {
		position: relative;
		left: 64px;
}

@media (max-width: 768px) {
	dt {
		position: relative;
		left: 64px;
		float:left;
		top: 40px;

	}
	#newgamearea {
		position: relative;
		bottom: 0px;
	}
	#instructions {
		position: relative;
		top: 40px;
	}
	}
}
