body {
	background-image: url("../images/broken_noise.png");
  	text-align: center;
  	color: silver;
}
#hangmanpic {
	/*position: relative;
	top:	55px;
	right: 50px;
	/*background-color: #000;*/
}
#newgamearea {
	/*position: relative;
	bottom: 100px;
  	margin-top: 2em;*/
}
#maskedWord {
	padding: 1em;
	font-size: 2em;
}
#instructions {
	font-size: 15px;
}
#hideLetters {
	padding: 0px;
} 	
#wins {
	padding: 0px;
	
}
#lettersguessed {
	padding: 0px;

	
}
#wrapper {
  	border: solid 1px silver;

}
#newgame {

}
/*@media (min-width: 769px) {
	dt {
		position: relative;
		left: 64px;
}

@media (max-width: 768px) {
	dt {
		position: relative;
		left: 64px;
		top: 40px;

	}*/
	#newgamearea {

	}
	#instructions {

	}
	}
}
